<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"> <!-- Botón de "Back" -->
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Inicio Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <!-- revisar que hace esto -->
  <ion-header collapse="condense">
   
  </ion-header>

  <ion-card color="medium">
    <ion-card-header>
      

    </ion-card-header>
  
    <ion-card-content> 
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <ion-item>
          <ion-label position="floating">username</ion-label>
          <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>
        <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
          <p *ngIf="loginForm.get('username')?.errors?.['required']">username es requerido.</p>
          <p *ngIf="loginForm.get('username')?.errors?.['minlength']">Mínimo 3 caracteres.</p>
          <p *ngIf="loginForm.get('username')?.errors?.['maxlength']">Máximo 8 caracteres.</p>
        </div>
    
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          <p *ngIf="loginForm.get('password')?.errors?.['required']">Contraseña es requerida.</p>
          <p *ngIf="loginForm.get('password')?.errors?.['pattern']">Debe contener solo números (máximo 5).</p>
        </div>
    
        <ion-button  expand="full" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</ion-button>
      </form>

   

      
    </ion-card-content>
  </ion-card>
</ion-content>
