<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Página Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center; margin-top: 20px;">
    <h2>Bienvenido, {{ usuario }}</h2>
  </div>
  <div style="text-align: center; margin-top: 20px;">
    <ion-button [routerLink]="['/codigosqr']">Codigos QR</ion-button>
  </div>
  <div style="text-align: center; margin-top: 20px;">
    <ion-button [routerLink]="['/datos']">Datos</ion-button>
  </div>
  <div style="text-align: center; margin-top: 20px;">
    <ion-button [routerLink]="['/e404']">Pagina Error 404</ion-button>
  </div>
</ion-content>
