<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"> <!-- Botón de "Back" -->
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h2 class="padding ion-text-center">Alumnos presentes</h2>
  </div>
  <div>
    <div>
      Alumno, {{ usuario }}
    </div>
  </div>
<ion-content *ngIf="user">
  <ion-item>
    <ion-label>Nombre de usuario</ion-label>
    <ion-text>{{user.usuerio}}</ion-text>
  </ion-item>
</ion-content>

<ion-content *ngIf="!user">
  <p>Cargando datos del usuario</p>
</ion-content>
